* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    max-width: 100%;
}

figure img {
    border-radius: 50%;
    height: 25vh;
}

#movie {
    width: 100%;
    background-color: black;
}

#home {
    background-image: url(images/header-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
    margin-top: 2%;
}


input {
    font-size: 3.5rem;
    height: 3rem;
}

#home {
    text-align: center;
}

#Search {
    background-color: #E50914;
    margin-top: 1.5rem;
    font-size: 2rem;
    height: 3rem;
    width: 10.5rem;
    color: papayawhip;
    cursor: pointer;
}

#Search:hover {
    transform: scale(1.07);
    opacity: .9;
}

#linktohome a {
    text-decoration: none;
    color: papayawhip;
}

#searchform {
    margin-top: 2rem;
}

.movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: text-bottom;
}

.movies li {
    flex: 1;
    display: inline;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
    background: black;
    max-width: 25rem;
    vertical-align: text-bottom;
}

.movies li img {
    max-width: 25rem;
    max-height: 500px;
    border-radius: 1rem;
}

.movies li h2 {
    color: white;
    font-size: 1.8rem;
    padding: 15px 10px 0;
    margin-top: auto;
}

#searchbutton {
    font-size: 2.5rem;
    height: 4rem;
    background-color: #E50914;
}

#searchbutton:hover {
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    min-width: 0;
    vertical-align: bottom;
}

#movieName {
    background-color: transparent;
    color: white;
    height: 4rem;
}

#prev,
#next {
    font-size: 1rem;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    background-color: #E50914;
    display: none;
}

#download {
    font-size: 1rem;
    height: 2rem;
    width: 7.5rem;
    background-color: #E50914;
    display: none;
    position: relative;
    cursor: pointer;
}

.downloadb {
    position: relative;
    margin-left: 85%;
    bottom: 30px;
}